@media all and (max-width: 768px) {
	body,
	p,
	div.entry-content,
	.displayMoment,
	body #single-page .single-content-left p,
	body #single-page .single-content-left #recipe ol,
	body #single-page .single-content-left #recipe ul {
		font-size: 15px;
		line-height: 1.75;
		padding: 0;
	}

	h3.entry-title {
		font-size: 24px;
		line-height: 24px;
		margin: 0;
		text-align: left;
	}

	body .nav {

		i.fa {
			display: none !important;
		}

		a {
			text-align: center;

			span.fontawesome-text {
		  		font-size: 90%;
		  		top: 0px;
	  		}
		}
	}

	.new-post-grid {
		left: 5%;
	}
	.card,
	.basic-card {
		width:80%;
	}

	body .benodigdheden {
		text-align: center;
	}
}

@media all and (min-width: 768px) and (max-width:1200px) {
	.card {
		width: 45% !important;
	}
}
