// Fonts

@import url(http://fonts.googleapis.com/css?family=Amatic+SC:400,700|Open+Sans:400,600);

body {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
	font-family: 'Amatic SC', sans-serif;
}

// Links

a {
	&:visited,
	&:hover,
	&:active,
	&:focus {
		color: @brand-primary;
	}
}