.btn {
  &.btn-default {
    border: 1px solid #ccc;
    color: @brand-primary;

    &:hover {
      background: #fff;
      border: 1px solid #aaa;
    }
  }
}

.comment-submit {
  font-size: 14px !important;
  text-decoration: none;
  padding: 10px 20px !important;
  display: block;
  color: #fff !important;
  background-color: @brand-primary !important;
  box-shadow: initial !important;
  border: 0 !important;
  font-weight: 600 !important;

  &:hover {
  	background-color: darken(@brand-primary, 5%) !important;
  }
}

.wp-pagenavi {
    margin: 1em;
    display: inline-block;

    a,
    span {
        padding: 5px;
    }
}
